#Senha Banco
DB_USER_R=
DB_PASS_R=
DB_USER_W=
DB_PASS_W=
##################
DB_DSN_HOMO=
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
SMTP_HOST=  
SMTP_PORT=

EMAIL_FROM=
EMAIL_TO=

EMAIL_USER=
EMAIL_PASS=

EMPRESA =
AMBIENTE_DESCRICAO =

ORACLE_CLIENT_LIB=